<div class="container">
  <div class="push-content"></div>
  <div class="main">
    <div class="row">
      <div class="col-xs-6">
        <h1> Xin Liu</h1>
        <h2> Rails Developer </h2>
        <p> Love web develpment. Big fan of data science. Lear more about me below.</p>
        <p>
          <a href=""><img src="placeholder.jpg"></a>
          <a href=""><img src="placeholder.jpg"></a>
          <a href=""><img src="placeholder.jpg"></a>
          <a href=""><img src="placeholder.jpg"></a>
        </p>
      </div>
    </div>
  </div>

  <div class="about block">
    <div class="row">
      <div class="col-xs-12 subheading">
        <h2> About Me </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        I am happy student learning full stack web development at Viking Code School!
      </div>
    </div>
  </div>

  <div class="portfolio block">
    <div class="row">
      <div class="col-xs-12 subheading">
        <h2> Portfolio </h2>
      </div>
    </div>

    <div class="row"> 
      <div class="col-md-4">
        <div class="col-xs-12">
          <%= image_tag("/images/placeholder.jpg") %>
        </div>
        <div class="col-xs-12">
          <h3> Project 1 </h3>
        </div>
        <div class="col-xs-12">
          A project doing something.
        </div>
      </div>

      <div class="col-md-4">
        <div class="col-xs-12">
          <%= image_tag("/images/placeholder.jpg") %>
        </div>
        <div class="col-xs-12">
          <h3> Project 2 </h3>
        </div>
        <div class="col-xs-12">
          A project doing something.
        </div>
      </div>

      <div class="col-md-4">
        <div class="col-xs-12">
          <%= image_tag("/images/placeholder.jpg") %>
        </div>
        <div class="col-xs-12">
          <h3> Project 3 </h3>
        </div>
        <div class="col-xs-12">
          A project doing something.
        </div>
      </div>

    </div>
  </div>

  <div class="contact block">
    <div class="row">
      <div class="col-xs-12 subheading">
        <h2> Contact Me </h2>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 contact-info">
        Email me: <a href="mailto:xin.d.liu@gmail.com" target="_top"> xin.d.liu@gmail.com </a>
      </div>
      <div class="col-xs-12 contact-info">
        Checkout my <a href="">LinkedIn</a> or
        <a href=""> Github </a>
      </div>
    </div>
  </div>

  <footer class="footer">
    <div class="container">
      <p>Copyright © 2015 Xin Liu</p>
    </div>
  </footer>

</div>